/* * { transition: all 0.3s ease; } */

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
}
.queue {
  min-height: 20em;
  box-shadow: 0 1px 3px rgba(0,0,0,.5);
  padding: 0.3em 1em;
  border-radius: 6px;
  margin-bottom: 2em;
}
.queue-types div {
  display: inline-block;
  padding: 0.75em 0.5em;
  overflow: hidden;
  margin-right: 1em;
}
.queue-types div.active {
  color: #333;
  text-decoration: underline;
  text-decoration-color: #333;
  text-decoration-style: double;
}
.queue-name {
  text-decoration: underline;
  margin-bottom: 0;
}
.queue-details {
  display: flex;
  flex-direction: row;
}
.queue-type-name {
  vertical-align: middle;
  font-weight: bold;
  margin-right: 0.5em;
}
.queue .queue-type-count {
  float: right;
}
.queue-type-count {
  border-radius: 50%;
  font-size: 0.75em;
  display: inline-block;
  /* width: 1.25em; */
  min-width: 1.25em;
  height: 1.25em;
  padding: 0.2em;
  background: grey;
  color: white;
  text-align: center;
  line-height: 1.4em;
}
.queue-preview {
  padding-left: 1em;
  flex: 1;
  max-height: 13.5em;
  overflow: scroll;
}
.job {
  padding: 0.2em;
}
.job-id {
  display: inline-block;
  font-weight: bold;
}
.job-progress {
  display: inline-block;
  padding-left: 1em;
  padding-right: 1em;
}
.job-id::before {
  display: inline-block;
  content: '#';
}

svg rect {
  fill: rgba(95, 2, 184, 0.8);
  fill: #333;
  transition: all 0.7s ease;
}
svg {
  width: 100%;
  margin: 0;
  padding: 0;
}
.chart {
  min-height: 100px;
}